In [101]:
# Re-run this cell
# Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
crimes = pd.read_csv("crimes.csv", dtype={"TIME OCC": str})
crimes.head()

       DR_NO   Date Rptd  ...  Status Desc                                 LOCATION
0  220314085  2022-07-22  ...  Invest Cont  2500 S  SYCAMORE                     AV
1  222013040  2022-08-06  ...  Invest Cont  3300    SAN MARINO                   ST
2  220614831  2022-08-18  ...  Invest Cont                        1900    TRANSIENT
3  231207725  2023-02-27  ...  Invest Cont  6200    4TH                          AV
4  220213256  2022-07-14  ...  Invest Cont  1200 W  7TH                          ST

[5 rows x 12 columns]

In [102]:
# Start coding here
# Use as many cells as you need
print(crimes.dtypes)
crimes["hour"]=np.floor(crimes["TIME OCC"].astype(int) / 100)
peak_crime_hour= crimes["hour"].value_counts().index[0].astype(int)
print(peak_crime_hour)
crimes["TIME OCC"] = crimes["TIME OCC"].astype(int)
tenpm_to_fouram=crimes[ (crimes['TIME OCC'] < 400) |( crimes['TIME OCC'] >=  2200 )]
print(tenpm_to_fouram.head())
peak_night_crime_location=tenpm_to_fouram["AREA NAME"].value_counts().index[0]
print(peak_night_crime_location)

labels=["0-17","18-25" ,"26-34" , "35-44", "45-54" , "55-64" , "65+"]
bins = [0,17,25,34,44,54,64,100]
crimes["age_range"]= pd.cut(crimes["Vict Age"], labels=labels , bins=bins)
victim_ages = crimes["age_range"].value_counts()
print(victim_ages)

DR_NO            int64
Date Rptd       object
DATE OCC        object
TIME OCC        object
AREA NAME       object
Crm Cd Desc     object
Vict Age         int64
Vict Sex        object
Vict Descent    object
Weapon Desc     object
Status Desc     object
LOCATION        object
dtype: object
12
        DR_NO   Date Rptd  ...                                  LOCATION  hour
8   231207476  2023-02-27  ...   8800    HAAS                         AV   0.0
10  221711184  2022-06-15  ...   8300    WHITE OAK                    AV   1.0
30  221314362  2022-07-11  ...   1600 E  OLYMPIC                      BL   0.0
33  231307252  2023-03-03  ...                          6600 S  BROADWAY  23.0
36  221614254  2022-11-13  ...  10200    TELFAIR                      AV   0.0

[5 rows x 13 columns]
Central
26-34    47470
35-44    42157
45-54    28353
18-25    28291
55-64    20169
65+      14747
0-17      4528
Name: age_range, dtype: int64